<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <i class="fas fa-cubes"></i> Smart Contract
  </a>
  <div>
    <button routerLink="/about" class="btn btn-outline-light">
      About
      <span class="badge badge-light"></span>
    </button>
    &nbsp;
    <button routerLink="/contact" class="btn btn-outline-light">
      Contact us
      <span class="badge badge-light"></span>
    </button>
  </div>
</nav>
<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Healthcare on Blockchain</h1>
      <p class="lead">Protect your health data on cloud</p>
      <div class="buttons">
        <a routerLink="sign-in" class="btn btn-outline-light">
            Sign In
            <span class="badge badge-light"></span>
        </a>
        &nbsp;
        <a routerLink="sign-up" class="btn btn-outline-light">
            Sign Up
            <span class="badge badge-light"></span>
        </a>
      </div>
    </div>
  </div>
</section>