<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <i class="fas fa-cubes"></i> Smart Contract
  </a>
  <div>
    <button routerLink="about" class="btn btn-outline-light">
      About
      <span class="badge badge-light"></span>
    </button>
    &nbsp;
    <button routerLink="contact" class="btn btn-outline-light">
      Contact us
      <span class="badge badge-light"></span>
    </button>
  </div>
</nav>
<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Contact Us</h1>
      <p class="lead">With the increasing popularity of cloud-based data
        services, data owners are highly motivated to store their huge
        amount of potentially sensitive personal data files on remote
        servers in encrypted form. Clients later can query over the
        encrypted database to retrieve files while protecting privacy of
        both the queries and the database, by allowing some reasonable
        leakage information. To this end, the notion of searchable
        symmetric encryption (SSE) was proposed. Meanwhile, recent
        literature has shown that most dynamic SSE solutions leaking
        information on updated keywords are vulnerable to devastating
        file-injection attacks. The only way to thwart these attacks is
        to design forward-private schemes. In this paper, we investigate
        new privacy-preserving indexing and query processing protocols
        which meet a number of desirable properties, including the multi-
        keyword query processing with conjunction and disjunction
        logic queries, practically high privacy guarantees with adaptive
        chosen keyword attack (CKA2) security and forward privacy,
        the support of dynamic data operations, and so on.</p>
    </div>
  </div>
</section>