<div class="area"></div><nav class="main-menu">

    <ul>
        <li>
            <a>
                <i class="fas fa-cubes fa-2x"></i>
                <span class="nav-text">
                    Healthcare on Blockchain
                </span>
              </a>

        </li>
        <li >
            <a routerLink="/home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a routerLink="/chainInfo">
                <i class="fas fa-address-card fa-2x"></i>
                <span class="nav-text">
                  Contract
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a routerLink="/organizations">
               <i class="fas fa-hospital-alt fa-2x"></i>
                <span class="nav-text">
                  Organization
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a routerLink="/doctorList" >
               <i class="fas fa-user-md fa-2x"></i>
                <span class="nav-text">
                    Doctor List
                </span>
            </a>

        </li>
        <li>
            <a  routerLink="/userList">
                <i class="fas fa-users fa-2x"></i>
                <span class="nav-text">
                    User List
                </span>
            </a>
        </li>
        <li>
            <a routerLink ="/uploadDocument">
                <i class="fas fa-file-medical fa-2x"></i>
                <span class="nav-text">
                   Upload Records
                </span>
            </a>
        </li>
        <li>
           <a href="#">
               <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Tables
                </span>
            </a>
        </li>
        <li>
           <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Maps
                </span>
            </a>
        </li>
        <li>
            <a href="/" >
               <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="/" (click)="logout()">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>

