<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    &nbsp;Health Data Interoperability in Ethereum Network  
  </a>

  <div>
    <button  routerLink ="data-entry" class="btn btn-outline-light" >
      Data Entry
      <span class="badge badge-light"></span>
    </button>
    &nbsp;
    <button routerLink="accessList" class="btn btn-outline-light">
      Current Acces
    </button>
    &nbsp;
    <button routerLink="transactions" class="btn btn-outline-light">
      Request List
    </button>
    &nbsp;
    <button routerLink="settings" class="btn btn-outline-light">
      Settings
    </button>
  </div>
</nav>

<br>
<div>
</div>

<router-outlet></router-outlet>
