<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <i class="fas fa-cubes"></i> Smart Contract
  </a>
  <div>
    <button routerLink="about" class="btn btn-outline-light">
      About
      <span class="badge badge-light"></span>
    </button>
    &nbsp;
    <button routerLink="contact" class="btn btn-outline-light">
      Contact us
      <span class="badge badge-light"></span>
    </button>
  </div>
</nav>
<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">About Us</h1>
      <p class="lead">Electronic medical record (EMR) is a crucial form
        of healthcare data, currently drawing a lot of attention. Sharing
        health data is considered to be a critical approach to improve
        the quality of healthcare service and reduce medical costs.
        However, EMRs are fragmented across decentralized hospitals,
        which hinders data sharing and puts patients’ privacy at risks.
        To address these issues, we propose a blockchain based privacy-
        preserving data sharing for EMRs, called BPDS. In BPDS, the
        original EMRs are stored securely in the cloud and the indexes
        are reserved in a tamper-proof consortium blockchain. By this
        means, the risk of the medical data leakage could be greatly
        reduced, and at the same time, the indexes in blockchain ensure
        that the EMRs can not be modified arbitrarily. Secure data
        sharing can be accomplished automatically according to the
        predefined access permissions of patients through the smart
        contracts of blockchain. Besides, the joint-design of the CP-
        ABE-based access control mechanism and the content extraction
        signature scheme provides strong privacy preservation in data
        sharing. Security analysis shows that BPDS is a secure and
        effective way to realize data sharing for EMRs.</p>
    </div>
  </div>
</section>